/* Navbar.css */

.navbar {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navlinks li {
    text-decoration: none;
  }
  
  .navlinks li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navlinks li a:hover {
    color: #f39c12;
  }
  